        @font-face {
            font-family: "AlimamaFangYuanTiVF-Thin";
            src: url(/resources/fonts/AlimamaFangYuanTiVF-Thin.ttf);
        }

        * {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: #7F868F;
        }

        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            background-color: #fffae5;
            font-family: "AlimamaFangYuanTiVF-Thin", sans-serif;
        }

        button {
            margin: 20px 5px;
            border: 2px solid #ffbd59;
            background-color: #ffbd59;
            color: #fff;
            font-size: 1.15em;
            border-radius: 10PX;
            width: 140px;
            height: 25px;
            line-height: 25px;
        }

        @media screen and (max-width: 600px) {
            button {
                margin: 15px 5px 10px 5px;
            }
        }

        .MoMain {
            max-width: 550px;
            margin: auto;
        }

        .countdown {
            display: flex;
            justify-content: center;
        }

        .countdown div {
            width: 80px;
            height: 50px;
            margin: 0 0.3rem;
            font-size: 30px;
            text-align: center;
            line-height: 50px;
            background-color: #fff;
            border: 1px solid #e7e9ec;
            border-radius: 25px;
        }

        .MsgBox {
            margin-top: 20px;
            padding: 20px 40px;
            font-size: 14px;
            text-align: center;
            background-color: #fff;
            border: 1px solid #e7e9ec;
            border-radius: 25px;
        }

        .content-box {
            margin-top: 7px;
            padding: 10px;
            background: #f7fafe;
            color: #7F868F;
            border: 1px solid #e7e9ec;
            border-radius: 15px;
        }

        .footer {
            margin-bottom: 0.1em;
            margin: 10px;
            text-align: center;
            font-size: 14px;
        }