        @font-face {
            font-family: AlimamaFangYuanTiVF-Thin;
            src: url(/resources/fonts/AlimamaFangYuanTiVF-Thin.ttf);
        }

        * {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: #7F868F;
        }

        body,
        html {
            min-height: 100vh;
            display: flex;
            font-family: AlimamaFangYuanTiVF-Thin;
            background-color: #fffae5;
            flex-direction: column;
            align-items: center;
        }

        button {
            margin: 20px 5px 20px 5px;
            border: 2px solid #ffbd59;
            background-color: #ffbd59;
            color: #fff;
            font-size: 1.15em;
            border-radius: 10PX;
            width: 140px;
            height: 25px;
        }

        @media screen and (max-width: 600px) {
            button {
                margin: 15px 5px 10px 5px;
            }
        }

        .Mo-container {
            display: flex;
            flex-direction: column;
            position: relative;
            bottom: 60px;
            margin: auto;
            padding: 15px;
        }
        
        .countdown {
          display: flex;
          margin: 0 auto;
        }
        
        .countdown div {
          width: 80px;
          height: 50px;
          margin: 0 0.3rem;
          font-size: 30px;
          text-align: center;
          line-height: 50px;
          background-color: #fff;
          border-radius: 25px;
        }

        .main {
            margin-top: 20px;
            padding: 20px 40px;
            font-size: 14px;
            text-align: center;
            background-color: #fff;
            border: 1px solid #e7e9ec;
            border-radius: 25px;
        }

        .content-box {
            margin-top: 7px;
            padding: 10px;
            background: #f7fafe;
            color: #7F868F;
            border: 1px solid #E7E9EC;
            border-radius: 15px;
        }

        .footer {
            margin-bottom: 0.1em;
            margin: 10px;
            text-align: center;
            font-size: 14px;
        }